@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
:root {
  --container-width: min(95rem, 90%);
  --gap-size: 0.75rem;
  /* font sizes */
  /* --font-size__body: 1.125rem; */
  /* --font-size__h1: 5.652rem; */
  /* --font-size__h2: 3.997rem; */
  /* --font-size__h3: 2.827rem; */
  /* --font-size__h4: 1.999rem; */
  /* --font-size__h5: 1.414rem; */
  /* --font-size__small: 0.85rem; */
  --font-size__body: clamp(1rem, 0.938vw, 1.125rem);
  --font-size__h1: clamp(3.5rem, 4.71vw, 5.652rem);
  --font-size__h2: clamp(2.8rem, 3.33vw, 3.997rem);
  --font-size__h3: clamp(2rem, 2.36vw, 2.827rem);
  --font-size__h4: clamp(1.75rem, 1.67vw, 1.999rem);
  --font-size__h5: clamp(1.25rem, 1.18vw, 1.414rem);
  --font-size__small: clamp(0.75rem, 0.71vw, 0.85rem);

  /* line heights */
  --line-height__h1: 1.1;

  --color-text-50: oklch(96.12% 0 89.88);
  --color-text-100: oklch(92.49% 0 89.88);
  --color-text-200: oklch(84.52% 0 89.88);
  --color-text-300: oklch(76.68% 0 89.88);
  --color-text-400: oklch(68.3% 0 89.88);
  --color-text-500: oklch(59.99% 0 89.88);
  --color-text-600: oklch(51.03% 0 89.88);
  --color-text-700: oklch(42.02% 0 89.88);
  --color-text-800: oklch(32.11% 0 89.88);
  --color-text-900: oklch(21.78% 0 89.88);
  --color-text-950: oklch(15.91% 0 89.88);

  --color-primary-50: oklch(96.82% 0.012 203.47);
  --color-primary-100: oklch(93.89% 0.024 203.08);
  --color-primary-200: oklch(87.87% 0.048 202.89);
  --color-primary-300: oklch(82.01% 0.07 202.81);
  --color-primary-400: oklch(76.36% 0.088 202.91);
  /* --color-primary-500: oklch(71.01% 0.102 203.35); */
  --color-primary-500: oklch(49.09% 0.068 203.24);
  --color-primary-600: oklch(60.3% 0.086 203.3);
  --color-primary-700: oklch(49.09% 0.068 203.24);
  --color-primary-800: oklch(37.2% 0.05 203.13);
  --color-primary-900: oklch(24.28% 0.029 202.94);
  --color-primary-950: oklch(17.2% 0.017 202.93);

  --color-secondary-50: oklch(96.59% 0.022 63.21);
  --color-secondary-100: oklch(93.47% 0.044 63.91);
  --color-secondary-200: oklch(87.26% 0.088 62.92);
  --color-secondary-300: oklch(81.33% 0.13 60.29);
  --color-secondary-400: oklch(76.21% 0.166 56.56);
  --color-secondary-500: oklch(71.87% 0.192 49.38);
  --color-secondary-600: oklch(60.93% 0.161 49.96);
  --color-secondary-700: oklch(49.47% 0.129 50.91);
  --color-secondary-800: oklch(37.49% 0.094 53.74);
  --color-secondary-900: oklch(24.27% 0.057 59.83);
  --color-secondary-950: oklch(17.11% 0.037 68.56);

  --color-accent-50: oklch(96.63% 0.009 171.8);
  --color-accent-100: oklch(93.45% 0.02 169.32);
  --color-accent-200: oklch(86.89% 0.041 168.55);
  --color-accent-300: oklch(80.38% 0.06 168.7);
  --color-accent-400: oklch(73.89% 0.08 167.15);
  --color-accent-500: oklch(67.51% 0.098 165.27);
  --color-accent-600: oklch(57.41% 0.082 165.57);
  --color-accent-700: oklch(46.84% 0.065 166.05);
  --color-accent-800: oklch(35.61% 0.047 165.28);
  --color-accent-900: oklch(23.43% 0.027 166.1);
  --color-accent-950: oklch(16.82% 0.014 169.51);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
p,
span {
  font-family: "Google Sans Flex";
  font-weight: 400;
  font-size: var(--font-size__body);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Google Sans Flex";
  font-weight: 650;
}

h1 {
  font-size: var(--font-size__h1);
  line-height: var(--line-height__h1);
}

h2 {
  font-size: var(--font-size__h2);
}

h3 {
  font-size: var(--font-size__h3);
}

h4 {
  font-size: var(--font-size__h4);
}

h5 {
  font-size: var(--font-size__h5);
}

small {
  font-size: var(--font-size__small);
}
.container {
  width: var(--container-width);
  margin-inline: auto;
}
a {
  text-decoration: none;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-500);
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
  font-family: "Google Sans Flex", sans-serif;
  line-height: 100%;
  outline: none;
  white-space: nowrap;
  transition:
    background 0.2s ease-out,
    color 0.2s ease-out,
    transform 0.05s ease-out;
}
button:hover {
  background: var(--color-primary-600);
}
button:active {
  transform: scale(0.97);
}
button[variant="secondary"] {
  background: transparent;
  border: 1px solid var(--color-secondary-500);
  color: var(--color-secondary-500);
}

button[variant="secondary"]:hover {
  background: var(--color-secondary-400);
  color: white;
}
button[variant="tertiary"] {
  background: transparent;
  border: 1px solid var(--color-primary-500);
  color: var(--color-primary-500);
}
.muted {
  color: var(--color-text-700);
}
a:not(.btn) {
  position: relative;
  font-size: var(--font-size__body);
  color: var(--color-primary-700);
}
a:not(.btn)::before {
  position: absolute;
  bottom: 0;
  content: " ";
  background: var(--color-primary-700);
  height: 1px;
  width: 0;
  transition: width 0.3s ease-out;
}
a:not(.btn):hover::before {
  width: 100%;
}

.footer {
  background: var(--color-accent-100);
}

.footer__top {
  padding: 4rem 0rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3rem;
}

.footer__brand img {
  height: 6rem;
}

.footer__nav h5 {
  margin-bottom: 1rem;
}

.footer__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav li {
  margin-bottom: 0.5rem;
}

.footer__nav a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer__nav a::before {
  background: black;
}

.footer__nav a:hover {
  opacity: 1;
}

.footer__bottom {
  background: var(--color-accent-800);
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links a {
  color: #fff;
  text-decoration: none;
  margin-left: 1.5rem;
  opacity: 0.9;
}

.footer__links a::before {
  background: white;
}

.footer__links a:hover {
  opacity: 1;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
input,
textarea,
select {
  font-size: var(--font-size__body);
  width: 100%;
  border: 1px solid var(--color-text-200);
  outline: 0px solid var(--color-text-200);
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "Google Sans Flex", sans-serif;
  background: transparent;
  transition:
    outline 0.3s ease-out,
    border 0.3s ease-out;
}
input:focus,
textarea:focus {
  border: 1px solid var(--color-primary-500);
  outline: 1px solid var(--color-primary-500);
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
label {
  position: absolute;
  font-size: var(--font-size__small);
  top: -0.5rem;
  padding-inline: 0.5rem;
  background: white;
  margin-left: 0.8rem;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-500);
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  color: white !important;
  text-decoration: none;
  font-size: 1.125rem;
  cursor: pointer;
  font-family: "Google Sans Flex", sans-serif;
  line-height: 100%;
  outline: none;
  white-space: nowrap;
  transition:
    background 0.2s ease-out,
    color 0.2s ease-out,
    transform 0.05s ease-out;
}
a.btn:hover {
  background: var(--color-primary-600);
}
a.btn:active {
  transform: scale(0.97);
}
a.btn[variant="secondary"] {
  background: transparent;
  border: 1px solid var(--color-secondary-500);
  color: var(--color-secondary-500) !important;
}

a.btn[variant="secondary"]:hover {
  background: var(--color-secondary-400);
  color: white !important;
}
a.btn[variant="tertiary"] {
  background: transparent;
  border: 1px solid var(--color-primary-500);
  color: var(--color-primary-500) !important;
}
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: var(--color-accent-500);
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
